@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor01: #260124;
    --cor02: #f266e9;
    --cor03: #d973d2;
    --cor04: #f2f2f2;
    --cor05: #0D0D0D;
  }

  /* banner */
  .banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background:linear-gradient(-55deg,  #d973d2  29%,  #d973d2 29.1%, #260124 68%,   #260124 68.1%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.banner-container .banner .menina{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .menina img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}


.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content a{
    font-size: 15px;

}

.banner-container .banner .content .btn{
    display: block;
    height: 50px;
    width:200px;
    line-height: 40px;
    background: var(--cor02);
    color: var(--cor01);
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .pc{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .pc img{
    width:80%;
}


.btn{
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: var(--cor01);
    cursor: hand;
    display: inline-block;
    transition-duration: 0.4s;
    background-color:var(--cor02);
    border: 2px solid var(--cor01);
}
.btn:hover{
    background-color: var(--cor01);
    color: var(--cor04);
    border: 2px solid var(--cor04);
}


/* resultados */
.resultados{
    background: var(--cor01);
}
.resultados .container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resultado-text{
    font-weight: bold;
    margin-left: 50px;
    color: #f2f2f2;
}
.resultados .resultados-text{
    color: var(--cor04);
    font-size:  1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-numero{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor04);
}
.resultados .resultados-numero p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}
.resultados .resultados-numero p span{
    font-size: 30px;
    font-weight: 600;
}
/* Diferenciais */
.diferenciais .container1{
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
   }
.diferenciais .card{
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.diferenciais .card:hover{
    box-shadow: 0px 10px 67px 8px var(--cor03);
}

.diferenciais .card img{
    width: 100px;
}
.diferenciais .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}
/* prova social */
.low .container2{
    display: flex;
    align-items: center;
}

.low .low-img{
    width: 50%;
}
.low .low-img img{
    width: 100%;
    border: 10px;
}
.low .low-text{
    width: 50%;
    padding-left: 90px;
}
.low .low-text h2{
    font-size: 2.5em;
}
.low .low-text p{
    margin: 20px 0;
    color: var(--cor01);
}
.low .low-text p b{
    color: var(--cor03);
    font-size:20px ;
}
.low .low-text .amigos{
    width: 200px;
}
/* destaques */
.text1 .roxo h2{
    display: flex;
 align-items: center;
 justify-content: center; 
 border: solid 1px var(--cor01);
}
.destaques .container1{
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
   }
.destaques .tite{
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}
.destaques .tite:hover{
    box-shadow: 0px 10px 67px 8px var(--cor03);
}
.destaques .tite img{
    width: 100px;
}
.destaques .tite .titulo{
    margin: 13px 0;
    font-weight: 600;
}
.destaques .tite h3{
    font-size: 50px;
    color: var(--cor01);
}
.destaques .tite p{
 font-style: oblique;
}
.destaques .tite .btn-dest{
    width: 200px;
    height: 40px;
    text-align: center;
    padding: 5px 2px;
    text-decoration: none;
    font-size: 20px;
    color: var(--cor01);
    cursor: hand;
    display: inline-block;
    margin-top: 4px;
    transition-duration: 0.4s;
    background-color:var(--cor02);
    border: 2px solid var(--cor01);
}
.destaques .tite .btn-dest:hover{
    background-color: var(--cor01);
    color: var(--cor04);
    border: 2px solid var(--cor04);
}
@media (max-width:960px){
    .banner{
        background-image: 100%;
        background-size: auto;
    }
    .resultados .container1{
        flex-direction: column;
    }
    .resultados .resultado-text, .resultados .resultados-numero{
        width: 80%;
        text-align: center;

    }
     .resultados-numero{
        width: 100%;
        margin-top: 35px;
    }
    .diferenciais .container1{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100% ;
        margin-top: 10px;
        align-items: center;
    }
    .low .container1{
        flex-direction: column-reverse;
    }
    .low .low-text{
        width: 100%;
        align-items: center;
    }
    .low .low-img{
        display: none;
    }
    .destaques .container1{
        flex-direction: column;
    }
    .destaques .container1 .tite{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 440px){
    .resultados .resultados-numero{
        flex-direction: column;
    }
}

@media (max-width:1343px){
    .banner{
        background-image: 100%;
        background-size: cover;
        height: 100%;
    }
}

@media (max-width:900px){
    .banner-container .banner .pc{
        display: none;
    }
}
@media (max-width:650px){
    .banner-container .banner .menina{
        display: none;
    }
    .banner-container .banner {
        width: 100%;
        height: 200px;
    }
    .banner-container .banner  .content h3{
        font-size: 15px;
    }
    .banner-container .banner  .content .btn{
        font-size: 12px;
        width: 100px;
    }
}
