
:root {
    --cor01: #260124;
    --cor02: #f266e9;
    --cor03: #d973d2;
    --cor04: #f2f2f2;
    --cor05: #0D0D0D;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* #### Estrutura #### */

html,body{
    height: 100%;
}

.max-width{
    width: 100%;
    min-height: auto;
}

.text-gd{
    font-size: 72px ;
}

.text-md{
    font-size: 42px;
}

.text-pq{
    font-size: 20px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}

.call{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.square{
    width:95%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
}
button{
    padding: 10px 20px;
    background: #1B3B56;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-right: 20px;
}

button:hover{
    border: 1px solid #8B634A;
    background: #8B634A;
    color: #fff;
    transform: scale(1.10);
}

.content{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    min-height: 800px;
}

.titulo{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    text-shadow: 0 0 10px #545454;
    color: #2B2B2B;
}
.line{
    width: 80%;
    height: 2px;
    background: #17203F;
    position: relative;
    top: 40px;
}

.text-titulo{
    position: relative;
    top: -10px;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-size: 18px;
    background: #0D0D0D;
    color: #fff;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 300px;
}

/* #### Service  #### */

#Service .titulo h2{
    font-family: 'Montserrat Alternates', sans-serif;
}

#Service .box{
    width: 80%;
    background: #fff;
}

#Service .box img{
    width:300px;
    height: 500px;
    object-fit: contain;
}

#Service .box h2{
    margin-top: 20px;
    text-align: center;
}

#Service .box p{
    margin-top: 20px;
    text-align: center;
}

#Service .container2 input[type=radio]{
    display: none;
}
#Service .container2 .card{
    position: absolute;
    width: 24%;
    height: 80%;
    top: -120px;
    left: 0;
    right: 0;
    margin:0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px 0 #848790;
    transition: 0.4s ease;
    cursor: pointer;
}
#Service .container2 .card img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
#Service .container2 .card button{
    position: absolute;
    bottom: 10px;
    z-index: 9;
    text-transform: uppercase;
    cursor: pointer;
}
#Service .container2 .cards{
    position: relative;
    width: 100%;
    height: 100vh;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}