:root {
    --cor01: #260124;
    --cor02: #f266e9;
    --cor03: #d973d2;
    --cor04: #f2f2f2;
    --cor05: #0D0D0D;
  }
*{
  font-family: Arial, Helvetica, sans-serif;
}
/* Cor do nav */
.bg-primary-color{
  background-color: var(--cor01);
}
.bg-primary-color{
  background-color: var(--cor01);
}

.bg-secondary-color{
  background-color: var(--cor04);
}
.bg-dark-color{
  background-color: var(--cor01);
}
/* Cor da fonte */
.primary-color{
  color: var(--cor04);
}
.secondry-color{
  color: var(--cor04);
}
/* Navbar */
/* sombra embaixo da opção */
#navbar{
  border-bottom: 2px solid var(--cor02);
}
#navbar a:hover{
  color: var(--cor03);
}
#nav-lik a.active{
  border-bottom:  1px solid var(--cor02);
}
/* logo */
.navbar-brand img{
  width:100px
}

#navbar-items .navbar-nav{
  display: flex;
  justify-content: center;
  width: 100%;
}
#navbar-items .nav-item{
  margin: 0 1em;
}

.nav-item a{
  text-decoration: none;
}
/* footer top */
#footer{
  padding: 3em 2em;
}
.img{
  width: 50%;
}
#footer-top{
  margin-bottom: 2em;
}
#footer-top,#footer-top i{
  color: var(--cor04);
}
#social-icons{
  text-align: right;
}
#social-icons i{
  margin-right: 1em;
  font-size: 1,5em;
  cursor: pointer;
}
#social-icons i:hover{
  color:var(--cor03);
}
/* footer details */
.secondary-color{
  color: #b1a4a4;
}
#footer-details{
  margin-bottom: 3 em;
}
 #news-container, #contact-container,#links-container{
  padding: 0;
  border: 0;
  margin-bottom: 2em;
 }
 
 #footer-details h4{
  color: var(--cor04);
  margin-bottom: 1.5em;
 }

#news-container input{
  border-radius: 0;
  border: none;
}
#links-container li{
  margin-bottom: 0.5em;
}
#links-container a{
  text-decoration: none;
}
#links-container a:hover{
color: var(--cor02);
}
/* footer bootom */
#footer-bottom{
  border-top: 2px solid var(--cor02);
  padding: 2em;
}
#footer-bottom i{
  color: red;
  margin-left: 0.3em;
}
@media(min-width:768px){
  #news-container{
    padding-right: 2em;
  }
  #links-container{
    padding-left: 2em;
  }
  #contact-container{
    padding: 1em;
    border-left: 2px solid var(--cor02);
    border-right: 2px solid var(--cor02);
  }
}